<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>743873038855-eopbsm4rjaca8ddr1q8ggcemagbjtsqp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.743873038855-eopbsm4rjaca8ddr1q8ggcemagbjtsqp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>743873038855-r216ha6uog6g2uh1rjk1oq5g9abomao9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCXCJKa3Slwsd9xPo8zuQkaswGFrPT0MtQ</string>
	<key>GCM_SENDER_ID</key>
	<string>743873038855</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>phone-firebase-c2c88</string>
	<key>STORAGE_BUCKET</key>
	<string>phone-firebase-c2c88.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:743873038855:ios:7e64d225eb8acd25ba38a2</string>
</dict>
</plist>